doctype html
html(lang="es")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    title Reservación Exitosa
    style.
      body {
          text-align: center;
          font-family: Arial, sans-serif;
          background-color: #F5F5F5;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 100vh;
          margin: 0;
      }

      .container {
          width: 90%;
          max-width: 1600px;
          height: 90vh; /* Altura total del contenedor principal */
          margin: auto;
          background-color: #E6E6FA;
          border-radius: 20px;
          display: flex;
          flex-direction: column; /* Contenedores alineados verticalmente */
      }

      .sub-container-1 {
          background-color: #b19cd9; /* Color de fondo */
          height: 35%; /* 35% de la altura total */
          border-radius: 20px; /* Bordes redondeados */
          display: flex;
          padding-top: 10px;
          flex-direction: column;
          justify-content: space-around; /* Espaciado entre elementos */
          align-items: center; /* Centrar elementos horizontalmente */
      }

      .sub-container-2 {
          background-color: #e8e8e8; /* Blanco */
          height: 35%; /* 35% de la altura total */
          border-radius: 20px; /* Bordes redondeados */
          display: flex;
          flex-direction: column;
          justify-content: space-around; /* Espaciado entre elementos */
          align-items: center; /* Centrar elementos horizontalmente */
      }

      .sub-container-3 {
          background-color: #ccffcc; /* Morado claro */
          height: 30%; /* 30% de la altura total */
          border-radius: 20px; /* Bordes redondeados */
          display: flex;
          flex-direction: column;
          justify-content: space-around; /* Espaciado entre elementos */
          align-items: center; /* Centrar elementos horizontalmente */
      }

      .button {
          width: 250px;
          padding: 10px;
          background-color: rgb(216, 226, 216);
          color: rgb(118, 124, 118);
          border-radius: 20px;
          font-size: 16px;
          border-radius: 20px;
          cursor: pointer;
      }

      #tituloNegrita{
        font-weight: bold;
        color: black;
        maring-bottom: 0;
        padding-bottom:0;
      }

  body
    .container
      .sub-container-1
        p#tituloNegrita RESERVACIÓN EXITOSA
        .image-container
          p#tituloNegrita Centro Deportivo #{centroId}
          img(src=`/img/center_${centroId}.png`, alt="Centro Deportivo #{centroId}")
      .sub-container-2
        .details
          p#tituloNegrita Descripción:
          p Cancha de 50m2 de gras sintético
          p#tituloNegrita Lugar:
          p Av. Calle Falsa 123, Breña, Lima
          p#tituloNegrita Fecha reservada:
          p #{fecha}
          p#tituloNegrita Horario reservado:
          p #{horarios}
      .sub-container-3
        .total
          p#tituloNegrita Total: S/.#{total}
        .prohibitions
          p#tituloNegrita Prohibiciones: 
          p No se permite el ingreso de alimentos ni mascotas.
        button.button(onclick="window.location.href='/yenque'") Regresar
    
